<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="header">
                  <h4 class="title pull-left">Allotment Team</h4>
                  <button class="btn-success" style="float: right; color: white;" (click)="showAddDialog()" >Add New Member</button>
                  <hr>
                  <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
              </div>
              <div class="content table-responsive table-full-width " style="margin-left:1px; margin-right:1px;">
                  <table class="table table-striped">
                      <!-- <thead>
                          <tr>
                              <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                          </tr>
                      </thead> -->
                      <td>S.No.</td>
                      <!-- <td>JobId</td> -->
                      <td>Phone</td>
                      <td>Name</td>
                      <td>Email</td>

                      <tbody>
                          <tr *ngFor="let row of allAllotmentTeam;let i=index;">
                              <!-- <p>{{ jobpostdetail?.length }}</p> -->
                              <td>{{i+1}}</td>
                              <!-- <td>{{row.job_id}}</td> -->
                              <td>{{row.at_phone}}</td>
                              <td>{{row.name}}</td>
                              <td>{{row.email}}</td>
                              <!-- <td>{{row.address1}}<br>{{row.address2}}<br>{{row.city}}<br>{{row.state}}<br>{{row.zip}}</td> -->
                              <td>
                                <button class="btn-info" style="color: white;" (click)="viewAllotmentTeamDetails(row.at_phone)" >Details</button>
                                <button class="btn-primary" style="color: white;" (click)="editAllotmentTeamDetails(row.at_phone)" >Edit</button>
                                <!-- <button style="background-color: #0095FF;color: white;" (click)="editLead(row.l_id)" >Edit</button> -->
                                <button class="btn-danger" style="color: white;" (click)="deleteAllotmentTeam(row.at_phone)" >Remove</button>
                            </td>
                          </tr>
                      </tbody>
                  </table>

              </div>
          </div>
      </div>
  </div>
</div>
<app-dialog [(visible)]="showDialog">
  <div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h4 class="title pull-left">Allotment Team Member Details</h4>
                    <hr>
                    <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
               </div>
                <div class="content">
                  <div class="row">
                      <div class="col-md-3">
                        <div class="author">
                          <img class="avatar border-white" src="{{at_details.photo}}" alt="..." style="width: 100px; height:  100px;" />
                        </div>
                      </div>
                      <div class="col-md-9">
                        <p><b>Phone:</b> {{at_details.at_phone}}</p>
                        <p><b>Name:</b> {{at_details.name}}</p>
                        <p><b>Address:</b> {{at_details.address}}, {{at_details.city}},
                                    {{at_details.state}} - {{at_details.zip}}</p>
                        <p><b>Password:</b> {{at_details.password}}</p>
                      </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</app-dialog>

<app-dialog [(visible)]="showEditDialog">
  <div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h4 class="title pull-left">Update Allotment Team Member Details</h4>
                    <hr>
                    <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
               </div>
                <div class="content">
                  <div class="row">
                    <div class="col-md-3 form-group">
                      <div class="author">
                        <img class="avatar border-white" src="{{at_details.photo}}" alt="..." style="width: 90px; height:  90px;" />
                      </div>
                    </div>
                    <div class="col-md-9 form-group">
                      <input class="form-control border-input" [(ngModel)]="at_details.at_phone" name="at_phone"  type="number" placeholder="Enter Phone Number" readonly>
                    </div>
                    <div class="col-md-9 form-group">
                      <input class="form-control border-input" [(ngModel)]="at_details.name" name="at_name" type="text" placeholder="Enter Name">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="at_details.email" name="at_email" type="email" placeholder="Enter Email">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="at_details.aadhaar" name="at_aadhaar" type="text" placeholder="Enter Aadhaar">
                    </div>
                    <div class="col-md-6 form-group">
                      <textarea class="form-control border-input" [(ngModel)]="at_details.address" name="at_address" type="text" rows="7" placeholder="Enter Address"></textarea>
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="at_details.city" name="at_city" type="text" placeholder="Enter City">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="at_details.state" name="at_state" type="text" placeholder="Enter State">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="at_details.zip" name="at_zip" type="number" placeholder="Enter Zip">
                    </div>
                    <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="at_details.password" name="at_password" type="text" placeholder="Enter Password">
                    </div>
                    <div class="col-md-12 form-group">
                        <button class="btn btn-success" type="submit" value="Submit" (click)="updateAllotmentTeamMember()">Update Details</button>
                    </div>

                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</app-dialog>

<app-dialog [(visible)]="showAddNewDialog">
  <div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h4 class="title pull-left">Add New Allotment Team Member</h4>
                    <hr>
                    <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
               </div>
                <div class="content">
                  <div class="row">
                   <form>
                    <div class="col-md-12 form-group">
                      <input type="file" placeholder="Choose Image" name="image" class="col-md-12" (change)="fileChanged($event)" #ProfilePic>
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="at_phone" name="at_phone"  type="number" placeholder="Enter Phone Number">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="at_name" name="at_name" type="text" placeholder="Enter Name">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="at_email" name="at_email" type="email" placeholder="Enter Email">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="at_aadhaar" name="at_aadhaar" type="text" placeholder="Enter Aadhaar">
                    </div>
                    <div class="col-md-6 form-group">
                      <textarea class="form-control border-input" [(ngModel)]="at_address" name="at_address" type="text" rows="8" placeholder="Enter Address"></textarea>
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="at_city" name="at_city" type="text" placeholder="Enter City">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="at_state" name="at_state" type="text" placeholder="Enter State">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="at_zip" name="at_zip" type="number" placeholder="Enter Zip">
                    </div>
                    <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="at_password" name="at_password" type="text" placeholder="Enter Password">
                    </div>
                    <div class="col-md-12 form-group">
                        <button class="btn btn-success" type="submit" value="Submit" (click)="addNewAllotmentTeam()">Add Member</button>
                    </div>
                  </form>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</app-dialog>
