<div class="container-fluid ">
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="header">
                  <h4 class="title pull-left">Add Lead</h4>
                  <hr>
                  <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
              </div>
              <div class="content">
                <!-- <form> -->
                <div class="row">
                  <div class="col-md-6">
                    <label><b>Enter Customer Phone to Get the Address:</b></label>
                    <input #addLeadFrom class="form-control border-input" type="number" [(ngModel)]="c_phone" (ngModelChange)="searchByPhone()" placeholder="Enter Phone Number"/>
                  </div>
                  <div class="col-md-6">
                    <br>
                    <!-- <button class="btn btn-default" (click)="searchByPhone()" >Search</button> -->
                    <!-- <b> OR </b>
                    <button class="btn btn-primary" (click)="addNewAddress()">Add New Address</button> -->
                  </div>
                </div>
                <br>
                <div class="row" [hidden]="!showDiv">
                  <div class="col-md-12">
                    <span>
                      <b>Customer Name:</b> {{c_name}} <br>
                      <b>Customer Phone:</b> {{c_phone}} <br>
                      <b>Customer Email:</b> {{c_email}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <br>
                  <div class="" *ngFor="let address of c_address;let i=index;">
                    <div class="col-md-6">
                      <div class="col-md-1">
                        <input type="radio" value={{address.ca_id}} [(ngModel)]="selectedAddress" #addLeadFrom>
                      </div>
                      <div class="col-md-5">
                      <span>
                            <b>Address: </b> {{address.address}}, {{address.city}}, {{address.state}} - {{address.zip}}
                        <br>Phone: {{address.optional_phone}}
                      </span>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" [hidden]="!showDiv">
                  <br>
                  <button class="btn btn-primary" (click)="addNewAddress()">Add New Address</button>
                  <hr>
                </div>

                <div class="row">
                  <div class="col-md-6 form-group">
                    <label><b>Select Category: </b></label>
                    <select [(ngModel)]="selectedCategory" class="form-control border-input">
                      <option *ngFor="let c of category" [ngValue]="c">{{c}}</option>
                    </select>
                  </div>
                  <div class="col-md-6 form-group">
                    <label><b>Select Brand: </b></label>
                    <select [(ngModel)]="selectedBrand" class="form-control border-input">
                      <option *ngFor="let b of brand;let i=index;" [ngValue]="b">{{b}}</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <label><b>Description: </b></label>
                    <textarea class="form-control border-input" rows="5" [(ngModel)]="description" placeholder="Enter Description..."></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                      <button class="btn btn-success" (click)="addNewLead()">Add Lead</button>
                  </div>
                </div>
                </div>
              <!-- </form> -->
              </div>

      </div>
  </div>
</div>

<app-dialog [(visible)]="showDialog">
  <div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h4 class="title pull-left">Add New Address</h4>
                    <hr>
                    <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
                </div>
                <div class="content">
                  <div class="row">
                    <!-- <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="c_phone" type="tel" name="" value="" placeholder="Customer Phone" readonly>
                    </div> -->
                    <!-- <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="c_name" type="text" name="" value="" placeholder="Name">
                    </div>
                    <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="c_email" type="email" name="" value="" placeholder="Email (optional)">
                    </div> -->
                    <div class="col-md-12 form-group">
                      <textarea class="form-control border-input" type="text" rows="3" [(ngModel)]="c_adrs" placeholder="Enter Address..."></textarea>
                    </div>
                    <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="c_city" type="text" name="" value="" placeholder="City">
                    </div>
                    <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="c_state" type="text" name="" value="" placeholder="State">
                    </div>
                    <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="c_zip" type="number" name="" value="" placeholder="Zip">
                    </div>
                    <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="c_optional_phone" type="number" name="" value="" placeholder="Optional Phone">
                    </div>
                    <div class="col-md-12 form-group">
                        <button class="btn btn-success" (click)="addAddress()">Add Address</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</app-dialog>

<app-dialog [(visible)]="showDialogNoCustomer">
  <div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h4 class="title pull-left">Add New Customer</h4>
                    <hr>
                    <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
                </div>
                <div class="content">
                  <div class="row">
                    <!-- <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="c_phone" type="tel" name="" value="" placeholder="Customer Phone" readonly>
                    </div> -->
                    <div class="col-md-12 form-group">
                      <b>Customer Phone:</b> {{c_phone}}
                    </div>

                    <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="c_name" type="text" name="" value="" placeholder="Name">
                    </div>
                    <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="c_email" type="email" name="" value="" placeholder="Email">
                    </div>
                    <div class="col-md-12 form-group">
                      <textarea class="form-control border-input" type="text" rows="3" [(ngModel)]="c_adrs" placeholder="Enter Address..."></textarea>
                    </div>
                    <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="c_city" type="text" name="" value="" placeholder="City">
                    </div>
                    <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="c_state" type="text" name="" value="" placeholder="State">
                    </div>
                    <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="c_zip" type="number" name="" value="" placeholder="Zip">
                    </div>
                    <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="c_optional_phone" type="number" name="" value="" placeholder="Optional Phone">
                    </div>
                    <div class="col-md-12 form-group">
                        <button class="btn btn-success" (click)="addAddress()">Add Customer</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</app-dialog>
