<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" (click)="sidebarToggle()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <p class="navbar-brand" >{{getTitle()}}</p>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right" style="top: 20px;position: relative;">
                  <li (click)="logout()" style="font-weight: 600;font-size: 20px;">
                <i class="ti-logout"></i>
                <p>Logout</p>
                  </li>
                </ul>

            </div>
        </div>
    </nav>
